body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
    }

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

body {
    background-color: #85929E;
}

#wrapper {
    padding: 90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: column;
}

.card {
    margin-bottom: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
} 

.header-top {
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.leftmenutrigger {
    display: none
}

@media(min-width:992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 20px 4px 0;
        cursor: pointer;
    }

    #wrapper {
        padding: 90px 15px 15px 15px;
    }

    .navbar-nav.side-nav.open {
        left: 0;
    }

    .navbar-nav.side-nav {
        background: #585f66;
        box-shadow: 2px 1px 2px rgba(0,0,0,.1);
        position: fixed;
        top: 56px;
        flex-direction: column !important;
        left: -220px;
        width: 200px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
body{
    padding-top:0px;

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

form {
    min-width: 50%;
    max-width: 75%;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

    form fieldset {
        border: none;
    }

    form legend {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    form label {
        display: block;
        margin-bottom: 8px;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="datetime"],
    form input[type="email"],
    form input[type="number"],
    form input[type="search"],
    form input[type="time"],
    form input[type="url"],
    form textarea,
    form select {
        font-family: Georgia, "Times New Roman", Times, serif;
        background: rgba(255,255,255,.1);
        border: none;
        border-radius: 4px;
        font-size: 15px;
        margin: 0;
        outline: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #e8eeef;
        color: #8a97a0;
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 30px;
    }

        form input[type="text"]:focus,
        form input[type="date"]:focus,
        form input[type="datetime"]:focus,
        form input[type="email"]:focus,
        form input[type="number"]:focus,
        form input[type="search"]:focus,
        form input[type="time"]:focus,
        form input[type="url"]:focus,
        form textarea:focus,
        form select:focus {
            background: #d2d9dd;
        }

    form select {
        -webkit-appearance: menulist-button;
        height: 35px;
    }

    form .number {
        background: #1abc9c;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        border-radius: 15px 15px 15px 0px;
    }

    form input[type="submit"],
    form input[type="button"] {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #1abc9c;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #16a085;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

        form input[type="submit"]:hover,
        form input[type="button"]:hover {
            background: #109177;
        }

.header-card {
    margin-top: 10px;
    background-color: #1abc9c;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
}

h6{
    font-size:48px;
}

